openai
langchain
streamlit
huggingface_hub
python-dotenv
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
chromadb
faiss-cpu
tiktoken
wikipedia
langchainhub
pinecone-client
pandas
numpy
mlflow
scikit-learn
pyYAML
tqdm
ensure
joblib
types-pyYAML
Flask
Flask-Cors
python-box